
.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.hidden {
    visibility: hidden;
}
:root {
    --white : #ffffff;
    --light: #f1f5f9;
    --light-low: rgba(255, 255, 255, 0.445);
    --light-mild: rgba(255, 255, 255, 0.233);
    --dark: rgba(0,0,0,.81);
    --grey: #2c2c2c;
    --light-grey: #2c2c2ca4;
    --light-blue: #29b6f6;
    --mild-blue: rgba(41, 182, 246, 0.8);
}